/* =============================================================================
   GLOBALS
   ========================================================================== */

html{
    font-size: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
}

/* =============================================================================
   ## ++ Clerfix
   ========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






